/*
 * Variant CSS fragment for my personal homepage.
 * More of a display style with large margins and focus on color scheme.
 */

body {
    background-color: var(--bluepants);
    color: var(--steel);
    margin: 0;
}

#viewport {
    position: absolute;
    text-align: center;
    overflow-y: scroll;
}

/* EMBEDDED NAVBAR */
#navbox {
    width: 80%;
    max-width: 1200px;
    height: 120px;
}

/* PAGE CONTENT */
#termport { margin-top: 40px; }

#termport, article {
    width: 80%;
    display: inline-block;
    text-align: left;

    max-width: 1200px;
    margin-bottom: 3rem;
}
#termport > p, article > p {
    margin: 0;
}

/* WELCOME TAGLINE */
.tagline {
    margin-top: -48px;
    margin-left: 18ch;
    text-align: left;
    width: 28ch;
    position: absolute;

    font-family: var(--font-mono);
}

#logo:hover .tagline.reveal1 {
    opacity: 0%
}
.tagline.reveal2 {
    opacity: 0%
}
#logo:hover .tagline.reveal2 {
    opacity: 100%
}

#logo {
    display: inline-block;
    height: 200px;
    width: 52ch;
    text-align: left;
    position: relative;
}
#logo img {
    height: 200px;
}

nav a {
    margin-bottom: .5em;
}

nav#nav1 {
    font-size: 1.3rem;
}

nav#nav2 {
    text-align: center;
    padding: 0;
}
nav#nav2 a {
    display: inline-block;
    padding: 5px;
}

#lpartition {
    display: inline-flex;
    align-items: center;
    height: 260px;
    margin-top: 20%;
    flex-direction: row;
}

h3 a {
    color: var(--hi-accent);
}

article.project {
    display: inline-flex;
    border-radius: 7px;
    box-shadow: 0 8px 11px 0 rgba(.5,.5,.5,.4);
    padding: 10px;
    position: relative;
    min-height: 90px;

    background-color: var(--bluepants2);
}
article.project > p {
    align-self: center;
    position: absolute;
    left: 220px;
    right: 60px;
}
article.project arrow:before {
    content: "\f105";
}
article.project arrow {
    font-family: var(--font-icons);
    font-size: 2em;
    position: absolute;
    top: calc(50% - 1ch);
    right: 1em;
}
article.project icons {
    font-size: 1.3em;
}
article.project > a {
    align-self: center;
}
article.project img {
    max-height: 90px;
    align-self: center;
    margin-bottom: unset;
}


#githublink {
    font-family: var(--font-icons);
    position: fixed;
    bottom: 80px;
    right: 80px;
    font-size: 80px;
    color: rgba(180,180,180,.3);
}

#githublink:hover {
    color: rgba(180,180,180,.6);
}

/********** RESPONSIVE **********/
@media screen and (max-height: 720px) {
    #lpartition {
        margin-top: 10vh;
    }
    #logo, #logo img {
        max-height: 140px;
        height: unset;
    }
}

/* Reflow welcome logo */
@media screen and (max-width: 600px) {
    #termport {
        width: 90%;
        margin-top: 80px;
    }
    #lpartition {
        flex-direction: column;
    }
    nav {
        text-align: center;
        padding: 0;
        margin-top: 40px;
    }
    nav#nav2 {
        margin-top: 1ch;
    }

    nav a {
        display: inline-block;
        padding: 5px;
    }

    .tagline {
        margin-left: 150px;
        width: 22ch;
    }
}

@media screen and (max-width: 480px) {
    #logo, #logo img {
        max-height: 140px;
        height: unset;
        text-align: left;
    }
    #logo { width: 35ch; }
    #lpartition {
        height: unset;
        width: inherit;
    }
    .tagline {
        font-size: .9em;
        margin-top: -30px;
        margin-left: 110px;
        width: 20ch;
    }

    article:not(.project) img {
        max-width: 100%;
    }
}
