/*
 * Variant CSS fragment for my personal homepage.
 * More of a display style with large margins and focus on color scheme.
 */

body {
  background-color: var(--bluepants);
  color: var(--steel);
  margin: 0;
}

#viewport {
  position: absolute;
  text-align: center;
  overflow-y: scroll;
}

/* EMBEDDED NAVBAR */
#navbox {
    width: 80%;
    max-width: 1200px;
    height: 120px;
}

/* PAGE CONTENT */
#termport { margin-top: 40px; }

#termport, article {
  width: 80%;
  display: inline-block;
  text-align: left;

  max-width: 1200px;
  margin-bottom: 3rem;
}
#termport > p, article > p {
  margin: 0;
}

/* WELCOME TAGLINE */
.tagline {
  margin-top: -48px;
  margin-left: 160px;
  text-align: left;
  width: 28ch;
  position: absolute;

  font-family: "Fira Code Nerd Font Complete", "Fira Code", "Fira Mono", monospace;
}

#logo:hover .tagline.reveal1 {
    opacity: 0%
}
.tagline.reveal2 {
    opacity: 0%
}
#logo:hover .tagline.reveal2 {
    opacity: 100%
}

#logo {
  display: inline-block;
  height: 200px;
  width: 48ch;
  text-align: left;
  position: relative;
}
#logo img {
    height: 200px;
}

nav a {
    margin-bottom: .5em;
}

#lpartition {
    display: inline-flex;
    align-items: center;
    height: 260px;
    margin-top: 20%;
    flex-direction: row;
}



/********** RESPONSIVE **********/
@media screen and (max-height: 720px) {
    #lpartition {
        margin-top: 10vh;
    }
    #logo, #logo img {
        max-height: 140px;
        height: unset;
    }
    #logo { width: 35ch; }
}

/* Reflow welcome logo */
@media screen and (max-width: 600px) {
    #termport {
        width: 90%;
        margin-top: 80px;
    }
    #lpartition {
        flex-direction: column;
    }
    nav {
        text-align: center;
        padding: 0;
        margin-top: 40px;
        max-width: 90vw;
    }

    nav a {
        display: inline-block;
        padding: 5px;
    }

    .tagline {
        margin-left: 150px;
        width: 22ch;
    }
}

/* is this really necessary??? */
@media screen and (max-width: 480px) {
    #logo, #logo img {
        max-height: 140px;
        height: unset;
        text-align: left;
    }
    #lpartition {
        height: unset;
        width: inherit;
    }
    .tagline {
        font-size: .9em;
        margin-top: -30px;
        margin-left: 110px;
        width: 20ch;
    }

    article img {
        max-width: 100%;
    }
}
